body{
    margin: 0;
    background-image: url(https://cdn.wallpapersafari.com/11/69/Im7Zg0.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(238, 184, 141);
}
.card{
    width: 500px;
    height: fit-content;
    background-color: antiquewhite;
    margin: 10px;
    font-family: cursive;
}
.borda-card{
    border: 3px solid cyan;
}
.perfil{
    width: 100px; 
    height: 100px; 
    background-color: aqua;
}
h1{
    color: blueviolet; 
}
p{
    color: crimson;
}
.icon{
    width:100%; 
    height: 100%;
}
a, span{
    color: black;
}